body {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
}



.leftSide {
    width:50%;
    background-image: url(images/skincare.jpeg)  ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:60%;
    align-items: center;
}

.rightSide {
    margin-left: 4%;
    margin-top: 7%;
    background-color: #F2F2F2;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

fieldset{
    display: flex;
    flex-direction: row;
    border: none; 
    gap: 70px;
    width:45%;
}

label,
input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 100%;
    border-radius: 5px;
  
}

input {
    border: 1px;
    border-color: lightgray;
    box-shadow: 2px 2px 10px lightgray;
    height: 100%;
}

form{
    margin-top: 10%;
    background-color: white;
    padding-left:6.5%;
    position: relative;
    width: 100%;
    margin-left: -8%;
    box-shadow: 2px 5px 20px lightgray;
  
}

.form_group{
    display: flex;
    flex-direction: column;
}

button {
    color: white;
    margin-top: 5%;
    margin-left: 1.5%;
    margin-bottom: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px palevioletred;
    background-color: rgb(243, 29, 122);
    box-shadow: 2px 2px 10px lightgrey;
    text-align: center;
    border-radius: 5px;
    max-height: 10%;
}

p{   
    margin-left: 1%;
}

legend {
    padding-top: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    margin-bottom: 2%;
}

label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:small ;
    opacity: 0.6;
}

.headerText {
    width:70%;
    margin-left: -31%;
}

[type="password"],
input:focus,
input:valid {
     border-color:2px cornflowerblue;
}

[type="password"],
input:focus,
input:invalid   {
    border-color: 2px red;
}

#logoBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 3%;
    background-color:rgba(0, 0, 0, 0.5);
    max-height: 20%;
    margin-top: 17.5%;
    width: 97%;
}

.skinCare {
    color: rgba(255, 255, 255, 1);
    font-size:60px;
    margin-left: -10px;
    height: 10vh;
}
img {
    opacity: 1;
    height: 100%;
    margin-left: 0%;
}

.cred {
    color: white;
    font-size: x-small;
}

.logIn {
    margin-bottom: 20%;
    margin-right:auto;
    padding-left: 0%;
}